@font-face {
	font-family: Avenir;
	src: url("../fonts/Metropolis-Black.otf"),
		url("../fonts/Metropolis-BlackItalic.otf"),
		url("../fonts/Metropolis-Bold.otf"),
		url("../fonts/Metropolis-BoldItalic.otf"),
		url("../fonts/Metropolis-ExtraBold.otf"),
		url("../fonts/Metropolis-ExtraLight.otf"),
		url("../fonts/Metropolis-ExtraLightItalic.otf"),
		url("../fonts/Metropolis-Light"), url("../fonts/Metropolis-LightItalic.otf"),
		url("../fonts/Metropolis-Medium.otf"),
		url("../fonts/Metropolis-MediumItalic.otf"),
		url("../fonts/Metropolis-Regular.otf"),
		url("../fonts/Metropolis-RegularItalic.otf"),
		url("../fonts/Metropolis-Thin.otf"),
		url("../fonts/Metropolis-ThinItalic.otf");
}

body {
	width: 100%;
	margin: 0;
	background-color: #e5e5e5;
}

/* -------------- Header ---------------- */

.header {
	display: flex;
	justify-content: space-between;
	max-width: 1248px;
	margin: auto;
	padding-top: 30px;
	flex-wrap: wrap;
}

.containerLogoMenu {
	display: flex;
	flex-wrap: wrap;
}

.header--logo {
	margin: auto;
	width: 45px;
	height: 45px;
}

.header--menu {
	margin-left: 40px;
}

.header ul {
	display: flex;
	flex-wrap: wrap;
}

.header li {
	list-style: none;
	margin: 0 20px;
}

.header--menu a {
	text-decoration: none;
	display: flex;
	align-items: center;
	font-size: 16px;
	line-height: 160%;
	font-family: Avenir-Regular, sans-serif;
	color: #212353;
	padding: 10px;
}

.header--menu a:hover {
	font-weight: 800;
}

.header--bottom {
	width: 210px;
	height: 60px;
	background: #ffffff;
	box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
	border-radius: 50px;
	border: none;
	font-family: Avenir-Regular, sans-serif;
	font-size: 16px;
	line-height: 160%;
}

.header--bottom img {
	width: 25px;
	margin: 0 0 -8px 12px;
}

/* -------------- MainSection ---------------- */

.mainsection {
	width: 1248px;
	height: 730px;
	margin: auto;
	background-image: url("../images/image1-1.png");
	background-size: 885px 468px;
	background-repeat: no-repeat;
	background-position: right center;
	object-fit: fill;
}

.mainsection--title {
	font-size: 80px;
	line-height: 110%;
	font-family: Avenir-Regular, sans-serif;
}

.mainsection--container {
	max-width: 380px;
}

.mainsection--details {
	font-size: 18px;
	line-height: 160%;
	font-family: Avenir-Light, sans-serif;
}

.mainsection--bottom {
	width: 210px;
	height: 60px;
	background: #9c69e2;
	box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
	border-radius: 50px;
	border: none;
	font-family: Avenir-Regular, sans-serif;
	font-size: 18px;
	color: white;
}

/* -------------- SecondSection ---------------- */

.secondsection {
	background: rgba(240, 99, 184, 0.15);
	border-radius: 50px;
	display: flex;
	width: 1117px;
	height: 560px;
	margin: auto;
}

.secondsection--img {
	width: 477px;
	height: 504px;
}

.secondsection--rightrow {
	width: 475px;
	margin: auto;
}

.secondsection--title {
	font-size: 40px;
	line-height: 130%;
	font-family: Avenir-Regular, sans-serif;
}

.secondsection--details {
	font-family: Avenir-Light, sans-serif;
	font-size: 18px;
	line-height: 160%;
}

/* -------------- FeaturesSection ---------------- */

.featuressection {
	width: 1137px;
	height: 1026px;
	margin: 150px auto;
}

.featuressection--title {
	font-size: 40px;
	line-height: 130%;
	font-family: Avenir-Regular, sans-serif;
	text-align: center;
}

.featuressection-text {
	font-size: 18px;
	line-height: 160%;
	font-family: Avenir-Regular, sans-serif;
	text-align: center;
	margin-bottom: 50px;
}

.features--list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.features--card1 {
	flex-shrink: 0;
	width: 540px;
	height: 350px;
	display: flex;
	margin: 25px 0;
	background-image: url("../images/Rectangle-39.png");
	background-repeat: no-repeat;
	background-position-x: right;
}

.features--card2 {
	flex-shrink: 0;
	width: 540px;
	height: 350px;
	display: flex;
	margin: 25px 0;
	background-image: url("../images/Rectangle-39-2.png");
	background-repeat: no-repeat;
	background-position-x: right;
}

.features--card3 {
	flex-shrink: 0;
	width: 540px;
	height: 350px;
	display: flex;
	margin: 25px 0;
	background-image: url("../images/Rectangle-39-3.png");
	background-repeat: no-repeat;
	background-position-x: right;
}

.features--card4 {
	flex-shrink: 0;
	width: 540px;
	height: 350px;
	display: flex;
	margin: 25px 0;
	background-image: url("../images/Rectangle-39-4.png");
	background-repeat: no-repeat;
	background-position-x: right;
}

.features-leftrow {
	display: flex;
	align-items: center;
	width: 250px;
}

.features-leftrow img {
	width: 232px;
	height: 211px;
}

.features--rightrow {
	width: 250px;
}

.features--rightrow__title {
	margin: 40px 0;
	font-family: Avenir-Regular, sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 130%;
}

.features--rightrow__details {
	font-size: 16px;
	line-height: 160%;
	font-family: Avenir-Regular, sans-serif;
	font-weight: 200;

	width: 232px;
	margin: 40px 0;
}

.features--rightrow__learnmore {
	text-decoration: none;
	font-size: 16px;
	font-family: Avenir-Bold, sans-serif;
	color: #212353;
	font-weight: 800;
}

.features--rightrow__learnarrow {
	width: 25px;
	margin: 0 0 -8px 12px;
}

/* -------------- TestimonialsSection ---------------- */

.testimonialssection {
	margin: auto;
	width: 1118px;
	height: 709px;
	background: #9c69e2;
	border-radius: 50px;
	padding: 30px;
	position: relative;
}

.testimonialssection--title {
	font-size: 40px;
	line-height: 130%;
	font-family: Avenir-Regular, sans-serif;
	color: white;
}

.carousel--container {
	margin: 70px 0px;
	padding-bottom: 10px;
	display: flex;

	overflow: scroll;
	padding: 30px;
	position: relative;
	background: linear-gradient(
		270deg,
		rgba(255, 255, 255, 0) 1.75%,
		#9c69e2 100%
	);
}

.carousel--item {
	background-color: white;
	width: 645px;
	height: 333px;
	border-radius: 20px;
	overflow: hidden;
	margin-right: 20px;
	display: flex;
	justify-content: center;
	flex-shrink: 0;
	box-shadow: 0px 15px 0px 0px rgba(0, 0, 0, 0.2);
}

.carousel--itemLR {
	padding: 60px 20px;
}

.carousel--itemLR img {
	width: 90px;
	height: 90px;
	border-radius: 50px;
	object-fit: cover;
}

.carousel--itemRR {
	padding: 60px 20px;
	width: 385px;
	align-items: center;
}

.carousel--itemRR__name {
	margin: 0;
	font-size: 16px;
	line-height: 160%;
	font-family: Avenir-Regular, sans-serif;
}

.carousel--itemRR__url {
	text-decoration: none;
	font-size: 12px;
	font-family: Avenir-Bold, sans-serif;
}

.carousel--itemRR__details {
	font-size: 16px;
	line-height: 200%;
	font-family: Avenir-Light, sans-serif;
}

.carousel--symbols {
	padding: 0 30px;

	display: flex;
	justify-content: space-between;
}

.carousel--dots img {
	width: 50px;
	height: 50px;
}

.footer--bottomRight__container img {
	width: 50px;
	height: 50px;
}

.carousel--arrows img {
	width: 35px;
	margin: 0 0 -8px 12px;
}

/* -------------- Footer ---------------- */

footer {
	width: 100%;
	height: 613px;
	padding: 100px 0;
	margin-top: 150px;
	border-top: 1px solid #9c69e2;
}

.footer--top {
	display: flex;
	justify-content: space-between;
	width: 1118px;
	margin: auto;
}

.footer--top__title {
	font-size: 40px;
	line-height: 130%;
	font-family: Avenir-Regular, sans-serif;
}

.footer--top__details {
	font-size: 18px;
	line-height: 160%;
	font-family: Avenir-Light, sans-serif;
}

.footer--top__right {
	align-self: center;
}

.footer--top__bottom {
	width: 210px;
	height: 60px;
	background: #ffffff;
	box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
	border-radius: 50px;
	border: none;
	font-family: Avenir-Regular, sans-serif;
	font-size: 18px;
	line-height: 160%;
	margin-left: 30px;
}

.footer--top__bottom img {
	width: 25px;
	margin: 0 0 -8px 12px;
}

.footer--top__bottomLM {
	width: 210px;
	height: 60px;
	background: #f063b8;
	box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
	border-radius: 50px;
	border: none;
	font-family: Avenir-Regular, sans-serif;
	font-size: 18px;
	line-height: 160%;
}

.footer--bottom {
	display: flex;
	justify-content: space-between;
	margin: 153px auto;
	width: 1118px;
}

.footer--container {
	display: flex;
	align-items: center;
	margin-bottom: 67px;
}

.footer--container__logo {
	margin-right: 20px;
	width: 45px;
	height: 45px;
}

.footer--container__title {
	font-weight: 900;
	font-size: 20px;
	line-height: 160%;
	font-family: Avenir-Regular, sans-serif;
	margin: 0px;
}

.footer--container__address {
	font-family: Avenir-Regular, sans-serif;
	font-size: 16px;
	line-height: 180%;
}

.footer--container__email {
	font-family: Avenir-Light, sans-serif;
	font-size: 16px;
	line-height: 180%;
}

.footer--bottomRight {
	display: flex;
	justify-content: space-around;
	width: 680px;
}

.footer--bottomRight__title {
	font-family: Avenir-Regular, sans-serif;
	font-size: 16px;
	line-height: 180%;
	margin-bottom: 67px;
}

.footer--bottomRight__item {
	font-family: Avenir-Light, sans-serif;
	font-size: 16px;
	line-height: 180%;
}

.footer--bottomRight__container {
	display: flex;
	justify-content: space-between;
	width: 170px;
}

/* -------------- Breakpoints - Mediasqueris ---------------- */

@media screen and (max-width: 1024px) {
	.mainsection {
		max-width: 1024px;
		margin: auto;
		background-image: url("../images/image1-1.png");
		background-size: 585px 350px;
		background-repeat: no-repeat;
		background-position: 150% end;
		object-fit: fill;
	}
}

@media screen and (max-width: 768px) {
	.mainsection {
		max-width: 730px;
		margin: auto;
		background-image: url("../images/image1-1.png");
		background-size: 485px 268px;
		background-repeat: no-repeat;
		background-position: center 90%;
		object-fit: fill;
		text-align: center;
	}

	.mainsection--container {
		max-width: 380px;
		align-self: center;
		display: inline;
	}

	.secondsection {
		background: rgba(240, 99, 184, 0.15);
		border-radius: 50px;
		display: flex;
		flex-direction: column-reverse;
		max-width: 700px;
		height: 900px;
		margin: auto;
	}

	.secondsection--leftrow {
		display: flex;
		justify-content: center;
	}

	.featuressection {
		max-width: 700px;
		height: 1750px;
		margin: 150px auto;
	}

	.features--list {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.testimonialssection {
		margin: auto;
		width: 700px;
		height: 709px;
		padding: 30px;
	}

	.footer--top {
		max-width: 700px;
		margin: auto;
	}

	.footer--top__right {
		display: flex;
		flex-direction: column;
	}

	.footer--top__bottom {
		margin: 10px 0;
	}

	.footer--bottom {
		display: flex;
		justify-content: space-between;
		margin: 153px auto;
		width: 700px;
	}

	.footer--bottomRight {
		display: flex;
		justify-content: space-between;
		width: 350px;
	}

	.footer--bottomRight__container {
		max-width: 90px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
	}
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}
